.new_team_input {
    float: right;
	width: 328px;
	border: #f45c5c solid 0.15rem;
	border-radius: 2rem;
	margin: 2rem;
	background-color: rgba(43, 42, 42, 0.808);
	color: whitesmoke;
	font-size: 20px;
	text-align: center;
}

.add_new_team_form {
    margin: 1rem 0;
}

.add_new_team_form label {
	display: block;
}

.add_new_team_form input {
    width: 80%;
}

.new_team_input button {
	width: 80%;
	padding: 11px 0;
	margin: 1rem 0 2rem;
}